{% extends 'base_tasks.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- -->
{% block content %}
<div class="content-section">
  <h2 class="border-bottom pb-2">Add Some Tasks</h2>
  <form action="" method="post">
  {% csrf_token %} 
    {{ task_form|crispy }}
    <input type="submit" value="Submit" class="btn btn-outline-primary mt-2" />
  </form>
</div>
  {% if tasks %}

  <div class="content-section">
    <h2 class="border-bottom pb-2">Your Tasks</h2>
    {% include "tasks/tasks.html" %}
  </div>
  {% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'tasks/updateColor.js' %}"></script>
<script src="{% static 'tasks/tasks.js' %}"></script>
{% endblock %}
