{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="content-section">
    <h2 class="border-bottom pb-2">
    <div class="btn-group dropend">
      <button type="button" class="btn-{{ tag.color.color_class }} btn dropdown-toggle text-white {{ tag.id }}" id="{{ tag.id }}" data-bs-toggle="dropdown" aria-expanded="false">
        <strong class="fs-5">{{ tag }}</strong>
      </button>
      <ul class="dropdown-menu">
      {% for color in colors %}
        <li>
          <a class="dropdown-item d-flex color" onclick="editColor('{% url 'tasks:edit_color' tag.id color.id %}', '{{ color.color_class }}', '{{ tag.id }}'); return false">
            <div class="bg-{{ color.color_class }} rounded-circle"></div>
            <div class="mx-2">{{ color }}</div>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    Tasks</h2>
    <ul class="mt-3 list-group">
      {% for task in tag.all_tasks.all %}
      <li class="list-group-item">
        <div class="d-flex flex-row justify-content-between align-items-center" id="Check-Item-{{ task.id }}">
          <div class="form-check" >
            <input
              onclick="markTask('{% url 'tasks:mark' task.id %}', {{ task.id }})"
              type="checkbox"
              class="form-check-input"
              id="Check-{{ task.id }}"
              {% if task.completed %}
              checked
              {% endif %} 
            />
            <label class="form-check-label" for="Check-{{ task.id }}" {% if task.completed %} style="text-decoration: line-through;"{% endif %}>
              {{ task.title }}</label><br>
          {% for tag in task.tag.all %}
          <span class="bg-{{ tag.color.color_class }} badge rounded-pill  {{tag.id}}">{{ tag }}</span>
          {% endfor %}
          </div>
          
          <div class="text-center">
            <button class="btn btn-outline-danger" onclick="deleteTask('{% url 'tasks:delete' task.id %}', {{ task.id }});">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
            </button>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
{% block scripts %}
  <script src="{% static 'tasks/updateColor.js' %}"></script>
  <script src="{% static 'tasks/tasks.js' %}"></script>
{% endblock %}