{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="content-section">
    <h2 class="border-bottom pb-2">
      <div class="btn-group dropend">
        <button type="button" class="btn-{{ tag.color.color_class }} btn dropdown-toggle text-white {{ tag.id }}" id="{{ tag.id }}" data-bs-toggle="dropdown" aria-expanded="false">
          <strong class="fs-5">{{ tag }}</strong>
        </button>
        <ul class="dropdown-menu">
        {% for color in colors %}
          <li>
            <a class="dropdown-item d-flex color" onclick="editColor('{% url 'tasks:edit_color' tag.id color.id %}', '{{ color.color_class }}', '{{ tag.id }}'); return false">
              <div class="bg-{{ color.color_class }} rounded-circle"></div>
              <div class="mx-2">{{ color }}</div>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      Tasks
    </h2>
    {% include 'tasks/tasks.html' %}
  </div>

{% endblock %}
{% block scripts %}
  <script src="{% static 'tasks/updateColor.js' %}"></script>
  <script src="{% static 'tasks/tasks.js' %}"></script>
{% endblock %}